# Importing Modules

In [497]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pydst
import pprint as pp
dst = pydst.Dst(lang='en')

# Importing Data

In [498]:
variables = dst.get_variables(table_id = 'OFF3')

In [499]:
OFF3 = dst.get_data(table_id = 'OFF3', variables={'UI':['1.8','1.13','1.16','1.17','2.13','2.16','2.17','2.18','2.19'],'Tid':['*'],'SEKTOR':['TOTAL']})

In [500]:
names = OFF3['UI'][0:9]

In [501]:
del OFF3['SEKTOR']

# Cleaning Data

In [502]:
columns_dict = {}
columns_dict['UI'] = 'variable'
columns_dict['TID'] = 'time'
columns_dict['INDHOLD'] = 'mio. DKK'
OFF3.rename(columns = columns_dict,inplace=True)

In [503]:
#capital_accumulation = OFF3[Ilist[0]]

In [504]:
#capital_accumulation

In [505]:
OFF3

                                              variable  time  mio. DKK
0      1.13. Capital accumulation, total (9+10+11+12)   1971      6571
1                1.16. Capital expenses, total (13+14)  1971      7221
2    1.17. Current and capital expenditure, total (...  1971     60034
3    1.8. Current expenditure, total (1+2+3+4+5+6+7)    1971     52812
4                  2.13. Current revenue, total (1-12)  1971     65146
5                 2.16. Capital revenue, total (14+15)  1971       -87
6    2.17. Current plus capital revenue, total (13+16)  1971     65058
7       2.18. Currents surplus=Gross saving (2.13-1.8)  1971     12333
8    2.19. Overall surplus=Net lending/borrowing (2...  1971      5025
9      1.13. Capital accumulation, total (9+10+11+12)   1972      6814
10               1.16. Capital expenses, total (13+14)  1972      7172
11   1.17. Current and capital expenditure, total (...  1972     67486
12   1.8. Current expenditure, total (1+2+3+4+5+6+7)    1972     60314
13                 2.13. Current revenue, total (1-12)  1972     73083
14                2.16. Capital revenue, total (14+15)  1972        13
15   2.17. Current plus capital revenue, total (13+16)  1972     73097
16      2.18. Currents surplus=Gross saving (2.13-1.8)  1972     12770
17   2.19. Overall surplus=Net lending/borrowing (2...  1972      5611
18     1.13. Capital accumulation, total (9+10+11+12)   1973      7044
19               1.16. Capital expenses, total (13+14)  1973      7892
20   1.17. Current and capital expenditure, total (...  1973     73885
21   1.8. Current expenditure, total (1+2+3+4+5+6+7)    1973     65993
22                 2.13. Current revenue, total (1-12)  1973     81026
23                2.16. Capital revenue, total (14+15)  1973        50
24   2.17. Current plus capital revenue, total (13+16)  1973     81075
25      2.18. Currents surplus=Gross saving (2.13-1.8)  1973     15033
26   2.19. Overall surplus=Net lending/borrowing (2...  1973      7191
27     1.13. Capital accumulation, total (9+10+11+12)   1974      8844
28               1.16. Capital expenses, total (13+14)  1974      9800
29   1.17. Current and capital expenditure, total (...  1974     91660
..                                                 ...   ...       ...
402  2.17. Current plus capital revenue, total (13+16)  2017   1145826
403     2.18. Currents surplus=Gross saving (2.13-1.8)  2017    106592
404  2.19. Overall surplus=Net lending/borrowing (2...  2017     31577
405    1.13. Capital accumulation, total (9+10+11+12)   2018     73382
406              1.16. Capital expenses, total (13+14)  2018     84726
407  1.17. Current and capital expenditure, total (...  2018   1140503
408  1.8. Current expenditure, total (1+2+3+4+5+6+7)    2018   1055777
409                2.13. Current revenue, total (1-12)  2018   1152433
410               2.16. Capital revenue, total (14+15)  2018      -593
411  2.17. Current plus capital revenue, total (13+16)  2018   1151840
412     2.18. Currents surplus=Gross saving (2.13-1.8)  2018     96656
413  2.19. Overall surplus=Net lending/borrowing (2...  2018     11337
414    1.13. Capital accumulation, total (9+10+11+12)   2015     70198
415              1.16. Capital expenses, total (13+14)  2015     87275
416  1.17. Current and capital expenditure, total (...  2015   1110377
417  1.8. Current expenditure, total (1+2+3+4+5+6+7)    2015   1023102
418                2.13. Current revenue, total (1-12)  2015   1093729
419               2.16. Capital revenue, total (14+15)  2015    -10427
420  2.17. Current plus capital revenue, total (13+16)  2015   1083302
421     2.18. Currents surplus=Gross saving (2.13-1.8)  2015     70626
422  2.19. Overall surplus=Net lending/borrowing (2...  2015    -27076
423    1.13. Capital accumulation, total (9+10+11+12)   2016     76939
424              1.16. Capital expenses, total (13+14)  2016     82939
425  1.17. Current and capital expenditure, total (...  2016   1106069
426  1.8. Current expenditure, total (1+2+3+4+5+6+7)    2016   1023131
427                2.13. Current revenue, total (1-12)  2016   1107348
428               2.16. Capital revenue, total (14+15)  2016     -2813
429  2.17. Current plus capital revenue, total (13+16)  2016   1104535
430     2.18. Currents surplus=Gross saving (2.13-1.8)  2016     84217
431  2.19. Overall surplus=Net lending/borrowing (2...  2016     -1534

[432 rows x 3 columns]

In [506]:
# Initialize empty dictionary
rename_dict = {}
# List of wanted names
wanted_names = ['1.2: Capital accumulation',
                '1.3: Capital expenses',
                '1.4: Current and capital expenditure (1+3)',
                '1.1: Current expenditure',
                '2.1: Current revenue',
                '2.2: Capital revenue',
                '2.3: Current plus capital revenue (1+2)',
                '2.4: Currents surplus=Gross saving (2.1-1.1)',
                '2.5: Overall surplus=Net lending/borrowing (2.3-1.4)']
# Create rename dictionary for variable names
for name, wantedname in zip(names,wanted_names):
    rename_dict[name] = wantedname
# Rename the variables
for key,value in rename_dict.items():
    OFF3.variable.replace(key, value, inplace=True)

In [507]:
for key,value in rename_dict.items():
    OFF3.variable.replace(key, value, inplace=True)

## Create subsetting booleans

In [508]:
# Initializes list of lists for subsetting
Ilist = [[] for eachlist in range(9)]

In [509]:
# List i in Ilist is the true/false boolean for name i in wanted_names
for number, name in enumerate(wanted_names):
    Ilist[number] = OFF3['variable']==name

In [510]:
# For os så vi ved hvilken hører til hvad
for number, i in enumerate(wanted_names):
    print(f'Index {number}: {i[5:]}')

Index 0: Capital accumulation
Index 1: Capital expenses
Index 2: Current and capital expenditure (1+3)
Index 3: Current expenditure
Index 4: Current revenue
Index 5: Capital revenue
Index 6: Current plus capital revenue (1+2)
Index 7: Currents surplus=Gross saving (2.1-1.1)
Index 8: Overall surplus=Net lending/borrowing (2.3-1.4)

In [511]:
# Med DST indeksering
#for number, i in enumerate(wanted_names):
#    print(f'Index {number}: {i}')

In [512]:
# Bevis for at det faktisk passer
#for i in range(9):
#    print(OFF3[Ilist[i]][:1])

In [523]:
namespace = globals()
names = ['capital_accumulation', 'capital_expenses', 'current_and_capital_expenditure',
                 'current_expenditure', 'current_revenue', 'capital_revenue', 'current_plus_capital_revenue',
                 'current_surplus', 'overall_surpluss']
for i, name in enumerate(names):    
    namespace[name] = (OFF3[Ilist[i]])

In [520]:
capital_expenses

                  variable  time  mio. DKK
1    1.3: Capital expenses  1971      7221
10   1.3: Capital expenses  1972      7172
19   1.3: Capital expenses  1973      7892
28   1.3: Capital expenses  1974      9800
37   1.3: Capital expenses  1975     10903
46   1.3: Capital expenses  1976     12636
55   1.3: Capital expenses  1977     13928
64   1.3: Capital expenses  1978     14448
73   1.3: Capital expenses  1979     16421
82   1.3: Capital expenses  1980     17253
91   1.3: Capital expenses  1981     19642
100  1.3: Capital expenses  1982     21845
109  1.3: Capital expenses  1983     20866
118  1.3: Capital expenses  1984     17600
127  1.3: Capital expenses  1985     20584
136  1.3: Capital expenses  1986     17241
145  1.3: Capital expenses  1987     20021
154  1.3: Capital expenses  1988     22925
163  1.3: Capital expenses  1989     23318
172  1.3: Capital expenses  1990     26957
181  1.3: Capital expenses  1991     25935
190  1.3: Capital expenses  1992     30885
199  1.3: Capital expenses  1993     29969
208  1.3: Capital expenses  1994     32231
217  1.3: Capital expenses  1995     34592
226  1.3: Capital expenses  1996     36646
235  1.3: Capital expenses  1997     37176
244  1.3: Capital expenses  1998     36375
253  1.3: Capital expenses  1999     38002
262  1.3: Capital expenses  2000     41329
271  1.3: Capital expenses  2001     38435
280  1.3: Capital expenses  2002     40590
289  1.3: Capital expenses  2003     39650
298  1.3: Capital expenses  2004     43665
307  1.3: Capital expenses  2005     41671
316  1.3: Capital expenses  2006     47219
325  1.3: Capital expenses  2007     53141
334  1.3: Capital expenses  2008     64988
343  1.3: Capital expenses  2009     58659
352  1.3: Capital expenses  2011     76358
361  1.3: Capital expenses  2012    104155
370  1.3: Capital expenses  2010     66640
379  1.3: Capital expenses  2013     74346
387  1.3: Capital expenses  2014     86809
397  1.3: Capital expenses  2017     76701
406  1.3: Capital expenses  2018     84726
415  1.3: Capital expenses  2015     87275
424  1.3: Capital expenses  2016     82939

In [514]:
(OFF3[Ilist[1]])

                  variable  time  mio. DKK
1    1.3: Capital expenses  1971      7221
10   1.3: Capital expenses  1972      7172
19   1.3: Capital expenses  1973      7892
28   1.3: Capital expenses  1974      9800
37   1.3: Capital expenses  1975     10903
46   1.3: Capital expenses  1976     12636
55   1.3: Capital expenses  1977     13928
64   1.3: Capital expenses  1978     14448
73   1.3: Capital expenses  1979     16421
82   1.3: Capital expenses  1980     17253
91   1.3: Capital expenses  1981     19642
100  1.3: Capital expenses  1982     21845
109  1.3: Capital expenses  1983     20866
118  1.3: Capital expenses  1984     17600
127  1.3: Capital expenses  1985     20584
136  1.3: Capital expenses  1986     17241
145  1.3: Capital expenses  1987     20021
154  1.3: Capital expenses  1988     22925
163  1.3: Capital expenses  1989     23318
172  1.3: Capital expenses  1990     26957
181  1.3: Capital expenses  1991     25935
190  1.3: Capital expenses  1992     30885
199  1.3: Capital expenses  1993     29969
208  1.3: Capital expenses  1994     32231
217  1.3: Capital expenses  1995     34592
226  1.3: Capital expenses  1996     36646
235  1.3: Capital expenses  1997     37176
244  1.3: Capital expenses  1998     36375
253  1.3: Capital expenses  1999     38002
262  1.3: Capital expenses  2000     41329
271  1.3: Capital expenses  2001     38435
280  1.3: Capital expenses  2002     40590
289  1.3: Capital expenses  2003     39650
298  1.3: Capital expenses  2004     43665
307  1.3: Capital expenses  2005     41671
316  1.3: Capital expenses  2006     47219
325  1.3: Capital expenses  2007     53141
334  1.3: Capital expenses  2008     64988
343  1.3: Capital expenses  2009     58659
352  1.3: Capital expenses  2011     76358
361  1.3: Capital expenses  2012    104155
370  1.3: Capital expenses  2010     66640
379  1.3: Capital expenses  2013     74346
387  1.3: Capital expenses  2014     86809
397  1.3: Capital expenses  2017     76701
406  1.3: Capital expenses  2018     84726
415  1.3: Capital expenses  2015     87275
424  1.3: Capital expenses  2016     82939

In [515]:
pd.(f'{i[5:]}')

SyntaxError: invalid syntax (<ipython-input-515-6aa8fda67a9d>, line 1)